.base-container {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 6rem;
  box-sizing: content-box;
  @include respond-to($l) {
    padding: 0 3.2rem;
  }
  @include respond-to($pb) {
    padding: 0 1.6rem;
  }
}